a{
  color: inherit;
}
body{
  margin: 0px 0px 0px 0px;
  background-color: rgb(184,184,184);
}
      
.grid{
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  background-color: transparent;
  height: 570px;
  width: 570px;
  clear: both;
}

.cell{
  height: 55px;
  width: 55px;
  display: inline-block;
  margin: 2px 0px 0px 2px;
  border-radius: 2px;
  font-family: Futura;
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(40,40,40);
}

  .wrapper{
  position: absolute;
  margin-left: 5%;
  display: inline-block;
  text-align: center;
  color: #228DFF;
}


.text{
  font-family: Futura;
  letter-spacing: 3px;
  margin-top: 15px;
  cursor: pointer;
 text-align: center;
}


.social{
  display: inline-block;
}



#share{
  font-family: Futura;
  font-size: 30px;
  color: #FFF;
  text-align: center;
  letter-spacing: 3px;
  margin-top: -25px;
}


li{
  text-align: left;
}

.container{
  width: 570px;
  margin: 0 auto;
}

.button{
  font-family: Futura;
  font-size: 14pt;
  display: inline-block;
  border: 1px solid #0072ff;
  text-align: center;
  padding: 10px 20px 10px 20px;
  color: #0072FF;
  float: right;
  border-radius: 0px;
}

.button:hover{
  color: #FFF;
  border: 1px solid #FFF;
}

#endnewgame:hover{
  color: #FFF;
  border: 1px solid #FFF;
}

#howto{
  margin-right: 20px;
  margin-top: 23px;
  letter-spacing: 2px;
}

#newgame{
  margin-top: 23px;
  letter-spacing: 2px;
}

#logo{
  font-size: 60px;
  margin-right: 30px;
  margin-top: -75px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  float: left;
}

.share{
  height: 50px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.rules{
  width: 100%;
  font-family: Futura;
  color: #FFF;
  letter-spacing: 1px;
}

#endgame{
  width: 570px;
  height: 570px;
  border: 1px solid #0072ff;
  position: absolute;
  margin-top: -570px;
  display: none;
  text-align: center;
}

.endtext{
  font-size: 85px;
  font-family: Futura;
  color: #0072ff;
  text-align: center;
}

#endnewgame{
  font-family: Futura;
  font-size: 14pt;
  display: inline-block;
  border: 1px solid #0072ff;
  text-align: center;
  padding: 10px 20px 10px 20px;
  color: #0072FF;
  border-radius: 0px;
}

#gif{
  margin-left: 100px;
  display: none;
}

#slogan{
  clear: right;
  border: transparent;
  color: #FFF;
  padding: 20px 0px 10px 0px;
  letter-spacing: 2px;
}

#examplegif{
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.container{
  width: 410px;
  padding-top: 50px;
}

.grid{
  margin-top: 110px;
  background-color: transparent;
  height: 400px;
  width: 400px;
  clear: both;
}

.cell{
  height: 38px;
  width: 38px;
  display: inline-block;
  margin: 2px 0px 0px 2px;
  border-radius: 2px;
  font-family: Futura;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(40,40,40);
}

  #howto{
  margin-right: 5px;
    letter-spacing: 0px;
}

#logo{
  margin-top: -150px;
  margin-left: 5px;
  letter-spacing: 0px;
}

#newgame{
  margin-right: 5px;
}
  
#gif{
  margin-left: 5px;
}

#slogan{
  letter-spacing: 0px;
  padding-right: 5px;
}

#endgame{
  width: 410px;
  height: 410px;
  border: 1px solid #0072ff;
  position: absolute;
  margin-top: -410px;
  display: none;
  text-align: center;
}

.endtext{
  font-size: 60px;
  font-family: Futura;
  color: #0072ff;
  text-align: center;
}

.endscore{
  font-size: 15px;
  font-family: Futura;
  color: #0072ff;
  text-align: center;
  margin-top: -15px;
}
/* Media end */}
#paypal{
display: inline-block;
}

.endscore{
  font-size: 40px;
  font-family: Futura;
  color: #0072ff;
  text-align: center;
  margin-top: -40px;
}